<div class="col-12 animated fadeIn">
    <div class="card">
        <div class="card-body animated fadeIn">
            <table class="table" id="tablausuarios">
                <thead>
                    <tr>
                        <th scope="col">EPO</th>
                        <th scope="col">Monto Descuento M.N.</th>
                        <th scope="col">Monto de Intereses M.N.</th>
                        <th scope="col">Monto a Operar M.N.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>39800</th>
                        <td>13755000</td>
                        <td>19202.48</td>
                        <td>13562997</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>

                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th scope="col">EPO</th>
                        <th scope="col">Monto Descuento M.N.</th>
                        <th scope="col">Monto de Intereses M.N.</th>
                        <th scope="col">Monto a Operar M.N.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>39800</th>
                        <td>13755000</td>
                        <td>19202.48</td>
                        <td>13562997</td>
                    </tr>
                </tbody>
            </table>
            <button (click)="exportexcell()">XLS</button>
        </div>
    </div>
</div>