<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<div class="col-12 animated fadeIn">
    <div class="card">
        <div class="card-body animated fadeIn">
            <div>
                <button title="Regresar" [routerLink]="['/altacyp']" class="btn btn-outline-success mb-2"><i class="mdi mdi-keyboard-backspace" style="font-size: x-large;"></i></button>
                <button type="button" class="btn btn-outline-info mb-2 ml-2" [routerLink]="['/altacyp/actualizacadena/segmentoscadena/creasegmentocadena',nombrenegocio,idcadena]"><i class="mdi mdi-plus" style="font-size: x-large;"></i></button>
            </div>
            <p-table [columns]="cols" [value]="segmentos" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15" [scrollable]="true" [resizableColumns]="true">
                <ng-template pTemplate="caption">
                    {{nombrenegocio}}
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                        <th>
                            Herramientas
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td>

                            <div class="row">
                                <div class="col mb-1" style="text-align: center;">
                                    <button data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-outline-danger" (click)="delete(rowData)" style="font-size: 5px;"><i class="mdi mdi-account-remove" style="font-size: 15px;"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-1" style="text-align: center;">
                                    <button data-toggle="tooltip" data-placement="top" title="Modificar" class="btn btn-outline-success" [routerLink]="['/altacyp/actualizacadena/segmentoscadena/editasegmentocadena',nombrenegocio,idcadena,rowData.id]" style="font-size: 5px;"><i class="mdi mdi-pencil" style="font-size: 15px;"></i></button>
                                </div>
                            </div>
                            <div class="row" *ngIf="rowData.with_recourse === 'SI'">
                                <div class="col" style="text-align: center;">
                                    <button data-toggle="tooltip" data-placement="top" title="Clientes" class="btn btn-outline-info" [routerLink]="['/altacyp/actualizacadena/segmentoscadena/clientescadena',nombrenegocio,idcadena,rowData.id]" style="font-size: 5px;"><i class="mdi mdi-clipboard-account" style="font-size: 15px;"></i></button>
                                </div>
                            </div>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                    <div style="text-align:left">
                        <!-- <button type="button" (click)="showDialogToAdd()" class="btn btn-outline-info">Agregar</button> -->
                    </div>
                </ng-template>
            </p-table>

            <!--        <p-dialog header="Segmento" [(visible)]="displayDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '800px' }">
                <div class="p-grid ui-fluid" *ngIf="car">
                    <div class="row">
                        <div class="col">
                            <span style="font-weight:bold">Clave *</span>

                            <input class="form-control" type="text" id="key" [(ngModel)]="car.key" />
                        </div>
                        <div class="col">
                            <span style="font-weight:bold">Nombre *</span>

                            <input class="form-control" type="text" id="name" [(ngModel)]="car.name" />
                        </div>
                        <div class="col">
                            <span style="font-weight:bold">Fecha inicio *</span>

                            <input class="form-control" type="date" id="start_date" [(ngModel)]="car.start_date" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <span style="font-weight:bold">Fecha fin</span>

                            <input class="form-control" type="date" id="end_date" [(ngModel)]="car.end_date" />
                        </div>
                        <div class="col">
                            <span style="font-weight:bold">Tasa *</span>

                            <input class="form-control" type="text" id="rate" [(ngModel)]="car.rate" />
                        </div>
                        <div class="col">
                            <span style="font-weight:bold">Comisión *</span>

                            <input class="form-control" type="text" id="fee" [(ngModel)]="car.fee" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label>Capacidad</label>

                            <input class="form-control" type="text" id="capacity" [(ngModel)]="car.capacity" />
                        </div>
                        <div class="col">
                            <span style="font-weight:bold">Limite días *</span>

                            <input class="form-control" type="text" id="limit_days" [(ngModel)]="car.limit_days" />
                        </div>
                        <div class="col">
                            <span style="font-weight:bold">Día expiración *</span>

                            <input class="form-control" type="text" id="expiration_day" [(ngModel)]="car.expiration_day" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <span style="font-weight:bold">Moneda *</span>

                            <select class="form-control" id="currency">
                        <option *ngFor="let item of currency">{{item}}</option>
                      </select>
                        </div>
                        <div class="col">
                            <span style="font-weight:bold">Tipo expiración *</span>

                            <select *ngIf="car.expiration_type === 'SEMANAL'" class="form-control" id="expiration_type">
                            <option selected>SEMANAL</option>
                            <option>MENSUAL</option>
                          </select>
                            <select *ngIf="car.expiration_type === 'MENSUAL'" class="form-control" id="expiration_type">
                            <option>SEMANAL</option>
                            <option selected>MENSUAL</option>
                          </select>
                            <select *ngIf="car.expiration_type !== 'MENSUAL' && car.expiration_type !== 'SEMANAL'" class="form-control" id="expiration_type">
                            <option selected>SEMANAL</option>
                            <option>MENSUAL</option>
                          </select>
                        </div>
                        <div class="col">
                            <span style="font-weight:bold">Estatus *</span>

                            <select *ngIf="car.status === 'ACTIVO'" class="form-control" id="status">
                            <option selected>ACTIVO</option>
                            <option>INACTIVO</option>
                          </select>
                            <select *ngIf="car.status === 'INACTIVO'" class="form-control" id="status">
                            <option>ACTIVO</option>
                            <option selected>INACTIVO</option>
                          </select>
                            <select *ngIf="car.status !== 'ACTIVO' && car.status !== 'INACTIVO'" class="form-control" id="status">
                            <option selected>ACTIVO</option>
                            <option>INACTIVO</option>
                          </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <span style="font-weight:bold">Con recurso</span>
                            <div class="form-check form-check-inline" *ngIf="car.with_recourse === 'SI'">
                                <input class="form-check-input" type="radio" name="with_recourse" id="inlineRadio1" value='true' checked>
                                <label class="form-check-label" for="inlineRadio1">SI</label>
                            </div>
                            <div class="form-check form-check-inline" *ngIf="car.with_recourse === 'SI'">
                                <input class="form-check-input" type="radio" name="with_recourse" id="inlineRadio2" value='false'>
                                <label class="form-check-label" for="inlineRadio2">NO</label>
                            </div>
                            <div class="form-check form-check-inline" *ngIf="car.with_recourse === 'NO'">
                                <input class="form-check-input" type="radio" name="with_recourse" id="inlineRadio1" value='true'>
                                <label class="form-check-label" for="inlineRadio1">SI</label>
                            </div>
                            <div class="form-check form-check-inline" *ngIf="car.with_recourse === 'NO'">
                                <input class="form-check-input" type="radio" name="with_recourse" id="inlineRadio2" value='false' checked>
                                <label class="form-check-label" for="inlineRadio2">NO</label>
                            </div>
                            <div class="form-check form-check-inline" *ngIf="car.with_recourse === null">
                                <input class="form-check-input" type="radio" name="with_recourse" id="inlineRadio1" value='true' checked>
                                <label class="form-check-label" for="inlineRadio1">SI</label>
                            </div>
                            <div class="form-check form-check-inline" *ngIf="car.with_recourse === null">
                                <input class="form-check-input" type="radio" name="with_recourse" id="inlineRadio2" value='false'>
                                <label class="form-check-label" for="inlineRadio2">NO</label>
                            </div>
                        </div>
                    </div>
                </div>

                <p-footer>
                    <div>
                        <button type="button" class="btn btn-outline-danger" (click)="delete()">Borrar</button>
                        <button type="button" class="btn btn-outline-info" (click)="save()">Modificar</button>
                    </div>
                </p-footer>
            </p-dialog>

            <p-dialog header="Segmento" [(visible)]="displayDialognuevo" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '800px' }">
                <form (ngSubmit)="save()" #c="ngForm">
                    <div *ngIf="car">
                        <div class="row">
                            <div class="col">
                                <span style="font-weight:bold">Clave *</span>

                                <input class="form-control" type="text" id="keyn" name="keyn" ngModel required />
                            </div>
                            <div class="col">
                                <span style="font-weight:bold">Nombre *</span>

                                <input class="form-control" type="text" id="namen" name="namen" ngModel required />
                            </div>
                            <div class="col">
                                <span style="font-weight:bold">Fecha inicio *</span>

                                <input class="form-control" type="date" id="start_daten" name="start_daten" ngModel required />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <span style="font-weight:bold">Fecha fin</span>

                                <input class="form-control" type="date" id="end_daten" />
                            </div>
                            <div class="col">
                                <span style="font-weight:bold">Tasa *</span>

                                <input class="form-control" type="number" id="raten" name="raten" ngModel required />
                            </div>
                            <div class="col">
                                <span style="font-weight:bold">Comisión *</span>

                                <input class="form-control" type="number" id="feen" name="feen" ngModel required />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <span style="font-weight:bold">Capacidad</span>

                                <input class="form-control" type="number" id="capacityn" />
                            </div>
                            <div class="col">
                                <span style="font-weight:bold">Limite días *</span>

                                <input class="form-control" type="number" id="limit_daysn" name="limit_daysn" ngModel required />
                            </div>
                            <div class="col">
                                <span style="font-weight:bold">Día expiración *</span>

                                <input class="form-control" type="number" id="expiration_dayn" name="expiration_dayn" ngModel required />
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <span style="font-weight:bold">Moneda *</span>

                                <select class="form-control" id="currencyn">
                            <option *ngFor="let item of currency">{{item}}</option>
                          </select>
                            </div>
                            <div class="col">
                                <span style="font-weight:bold">Tipo expiración *</span>

                                <select class="form-control" id="expiration_typen">
                            <option selected>SEMANAL</option>
                            <option>MENSUAL</option>
                          </select>
                            </div>
                            <div class="col">
                                <span style="font-weight:bold">Estatus *</span>

                                <select class="form-control" id="statusn">
                            <option selected>ACTIVO</option>
                            <option>INACTIVO</option>
                          </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <span style="font-weight:bold">Con recurso</span>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="with_recoursen" id="inlineRadio1" value='true'>
                                    <label class="form-check-label" for="inlineRadio1">SI</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="with_recoursen" id="inlineRadio2" value='false' checked>
                                    <label class="form-check-label" for="inlineRadio2">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-footer>
                        <div>
                            <button id="btnguardanuevo" type="submit" class="btn btn-outline-info mt-3" [disabled]="c.invalid">Guardar</button>
                        </div>
                    </p-footer>
                </form>
            </p-dialog> -->
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->