<div class="animated fadeIn">
    <div class="card animated fadeIn">
        <div class="card-body">
            <div class="container">
                <div class="row mt-3">
                    <div class="col">
                        <a [routerLink]="['/bancos/banorte']" class="btn btn-outline-info btn-lg btn-block text-uppercase">BANORTE</a>
                    </div>
                    <div class="col">
                        <a [routerLink]="['/bancos/bancrea']" class="btn btn-outline-info btn-lg btn-block text-uppercase">BANCREA</a>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <a [routerLink]="['/bancos/banregio']" class="btn btn-outline-info btn-lg btn-block text-uppercase">BANREGIO</a>
                    </div>
                    <div class="col">
                        <a [routerLink]="['/bancos/base']" class="btn btn-outline-info btn-lg btn-block text-uppercase">BASE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<button (click)="lanza_reporte_mizfacturas_sin_recurso()">pruebaPDFsinrecurso</button>
<button (click)="lanza_reporte_mizfacturas_con_recurso_pf()">pruebaPDFconrecursoPF</button>
<button (click)="lanza_reporte_factor()">Repote factor</button>
<button (click)="lanza_reporte_mizfacturas_con_recurso_pm()">pruebaPDFconrecursoPM</button> -->